<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>NetScrape</title>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <link href="/css/styles.css" type="text/css" rel="stylesheet" />
</head>
<body>
  <h1>NetScrape</h1>
  {{{ body }}}
  <script src="/js/frontend.js"></script>
</body>
</html>
